<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AskToRunExe" value="true"/>
    <add key="ShowCase" value="true"/>
    <add key="LogFilePath" value="C:\Users\dsavery\AppData\Local\Horiba\RdeImporter\logs\Log.txt"/>
    <add key="RDEToolPath" value="C:\Program Files (x86)\HORIBA\Rde Importer\OgpCore.exe"/>
    <add key="LastOpenedFilePath" value="C:\"/>
  </appSettings>
</configuration>