<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="STARS.Applications.VETS.Plugins.RDEImportTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="AskToRunExe" value="true"/>
    <add key="ShowCase" value="true"/>
    <add key="LogFilePath" value="C:\Users\dsavery\AppData\Local\Horiba\RdeImporter\logs\Log.txt"/>
    <add key="RDEToolPath" value="C:\Program Files (x86)\HORIBA\Rde Importer\OgpCore.exe"/>
  </appSettings>
  <userSettings>
    <STARS.Applications.VETS.Plugins.RDEImportTool.Properties.Settings>
      <setting name="LastOpenedFilePath" serializeAs="String">
        <value>C:\</value>
      </setting>
    </STARS.Applications.VETS.Plugins.RDEImportTool.Properties.Settings>
  </userSettings>
</configuration>